@model List<Enfermo>

<h1>Enfermos Entity Framework</h1>

<table class="table table-borderless mt-3">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo enf in Model)
        {
            <tr>
                <td>@enf.Apellido</td>
                <td>@enf.FechaNacimiento</td>
                <td>@enf.Sexo</td>
                <td>
                    <a asp-controller="Enfermos" asp-action="Details"
                       asp-route-id="@enf.Inscripcion" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>